<h2> Architecture </h2>
		<section class="content row">

			<div class="col-lg-5">
				<img class="traditions" src="assets/Top Destination/Casa Poporului/Casa_Poporului_1.jpg" alt="" >	
			</div>

			<div class="col-lg-7">
				<p>
					Constructing the Palace and Centrul Civic required demolishing much of Bucharest's historic district, including 19 Orthodox Christian churches, six Jewish synagogues, three Protestant churches (plus eight relocated churches), and 30,000 residences.
				</p>
			</div>
		</section>


		<section class="content row">
		

			<div class="col-lg-7">
				<p>
					It was during his time that the Moldavian style, of great originality and stylistic unity, developed, by blending Gothic elements with the Byzantine structure specific to the churches. Among such constructions, the monumental church of the Neamţ Monastery served, for more than a century, as a model for Moldavian churches and monasteries. The style was continued in the 16th century, during the rule of Stephen the Great's son, Petru Rareş (1527–1538, 1541–1546).
				</p>
				<p>
					 The main innovation was the porch and the outwall paintings (the churches of Voroneţ, Suceviţa, Moldoviţa monasteries). These churches of Northern Moldavia have become famous worldwide, due to the beauty of their painted elegant shapes that can be seen from afar.
				</p>
			</div>
	<div class="col-lg-5">
				<img class="traditions" src="assets/Top Destination/Manastiri pictate/Manastirea_Sucevita_2.jpg" alt="" >	
			</div>

		</section>

		<section class="content row">

			<div class="col-lg-5">
				<img class="traditions" src="assets/Top Destination/Castelul Bran/Castelul_Bran_1.jpg" alt="" >	
			</div>

			<div class="col-lg-7">
				<p>
					Bran Castle – a remarkable gothic architectural design monument was built between 1377-1382 on a 60 m cliff as a result of privilege from November 19, 1377 the Hungarian king Louis I of Anjou. Once the point has been reinforced by fulfilling military functions appearing awake and southeastern Transylvania but also have customs and trade functions are located on the commercial road connecting Transylvania with Wallachia Rucăr-Bran in Romania. Dracula Castle Bran Castle is known as one of the most precious historical sites in Transylvania.
				</p>
			</div>
		</section>


		<section class="content row">
		

			<div class="col-lg-7">
				<p>
					Inaugurated in 1883, Peles Castle is not only a pleasant place during the summer day; it has been conceived to be also a national monument, meant to keep the trophies of the Plevna Victory, which explains the castle´s majestic style.
				</p>
				<p>
					Peles Castle was built in wood, stone, bricks and marble and comprises more than 160 rooms. The representative style used is German Renaissance, but one can easily discover elements belonging to the Italian Renaissance, Gothic, German Baroque and French Rococo style.
				</p>
			</div>
	<div class="col-lg-5">
				<img class="traditions" src="assets/Top Destination/Castelul Peles/Castelul_Peles_3.jpg" alt="" >	
			</div>

		</section>

		<section class="content row">

			<div class="col-lg-5">
				<img class="traditions" src="assets/Architecture/Mogosoaia_Palace_front.jpg" alt="" >	
			</div>

			<div class="col-lg-7">
				<p>
					The Palace was built by the ruler Constantin Brancoveanu in 1702. After the execution of Constantin Brancoveanu in Constantinopol in 1714, the palace continue to be own by the family, but has passed a decline during the Ottoman rule period. It was renovated starting with 1912 by Martha Bibescu becoming a meeting place for the members in the high level society.
				</p>
				<p>
					The Brâncovenesc style, also known as Wallachian Renaissance and Romanian Renaissance, is an art and architectural style that evolved during the administration of Prince Constantin Brâncoveanu in the late 17th and early 18th centuries. Brâncoveanu was an administrator of the Principality of Wallachia (c. 1400 - 1829) under Ottoman Empire overlords, an extremely wealthy aristocrat, and a builder of fine palaces and churches.
				</p>
			</div>
		</section>


		<section class="content row">
		

			<div class="col-lg-7">
				<p>
					The palace was built as a new headquarters for Romania's oldest bank, the public savings institution Casa de Depuneri, Consemnațiuni și Economie, later known as C.E.C. The land was bought and the building constructed with the institution's own funds. Work started on June 8, 1897 and was completed in 1900. The project was designed by the architect Paul Guttereau, a graduate of the École nationale supérieure des Beaux-Arts in Paris; construction was supervised by the Romanian architect Ion Socolescu.
				</p>
				<p>
					Built in eclectic style, the palace is topped by a glass and metal dome. The entrance features an arch supported by two pairs of columns in composite style. The four corners are decorated with gables and coats of arms and ending in Renaissance domes.
				</p>
			</div>
	<div class="col-lg-5">
				<img class="traditions" src="assets/Bucharest_CEC.jpg" alt="" >	
			</div>

		</section>

		<section class="content row">

			<div class="col-lg-5">
				<img class="traditions" src="assets/Corvin_Castle.jpg" alt="" >	
			</div>

			<div class="col-lg-7">
				<p>
					The greatest Gothic-style castle in Romania, Corvinesti was built by the Anjou family on the site of a former Roman camp. The castle served as a fortress until the mid-14th century when it became the residence of Transylvania's ruler, Iancu de Hunedoara. Iancu upgraded the fortress transforming it into the most stunning castle in Transylvania.
				</p>
				<p>
					The beautifully preserved structure features a sumptuous Knights' Hall, an impressive drawbridge, high buttresses, inner courtyards, a chapel and some 50 rooms resplendent with medieval art. The courtyard features a 100 ft. well dug into stone.
				</p>
			</div>
		</section>


	