<h2>Food & Wine</h2>


		<section class="content row">

			<div class="col-lg-5">
				<img class="traditions" src="assets/food&wine/Ciorba de burta.jpg" alt="" >	
			</div>

			<div class="col-lg-7">
			<p>
				When it comes to Romanian traditional foods, 2 courses are most popular among both Romanians and foreigners: the “sarmale with mamaliga” and the “ciorba de burta” ( tripe soup). And although the tripe soup is considered by many to be the tastiest of the Romanian soups, the travellers don’t really want to try it because of what is inside – of course, if they just try it without knowing what it is, the absolutely love it! 
			</p>
			</div>
		</section>


		<section class="content row">
		

			<div class="col-lg-7">
				<p>
					On December 1st it’s served ”beans with sausages”, a traditional Romanian food. So every Romanian woman has to know how to cook it. And obviously there are many recipes, each with its style. I'll show you a very special recipe, very tasty, one that will make you feel proud in front of foreign guests (if they want a traditional Romanian dish). 
				</p>
				<p>
					Foreigners will always be impressed by the kindness of our traditional foods, so there is every reason to be proud of Romanian cuisine. We'll make beans with vegetables (onion, multicolored pepper and carrot), well seasoned, served with delicious Romanian home made sausages. 
				</p>
			</div>
	<div class="col-lg-5">
				<img class="traditions" src="assets/food&wine/Fasole cu carnati.jpg" alt="" >	
			</div>

		</section>



		<section class="content row">

			<div class="col-lg-5">
				<img class="traditions" src="assets/food&wine/Sarmalute.jpg" alt="" >	
			</div>

			<div class="col-lg-7">
				<p>
					Sarma is a dish of grape, cabbage or chard leaves rolled around a filling usually based on minced meat, or a sweet dish of filo dough wrapped around a filling often of various kinds of chopped nuts. It is found in the cuisines of the former Ottoman Empire from the Middle East to the Balkans and Central Europe.
				</p>
			</div>
		</section>


		<section class="content row">
		

			<div class="col-lg-7">
			<p>
				Thin, French-style pancakes are popular throughout Eastern Europe and are known variously as palacinke in Serbia and Croatia, palacsintas in Hungary and nalesniki in Polish, and so on. In Romania, crepes are known as clătite. Depending on the filling, they can be served as an appetizer, meal or dessert. 
			</p>
			</div>
	<div class="col-lg-5">
				<img class="traditions" src="assets/food&wine/Clatite.jpg" alt="" >	
			</div>

		</section>

		<section class="content row">
			<div class="col-lg-5">
				<img class="traditions" src="assets/food&wine/Kurtos.jpg" alt="" >	
			</div>

			<div class="col-lg-7">
			<p>
				A long rope of sweet yeast dough is tightly wrapped in a spiral around a wooden form, something like a rolling pin, and dusted with sugar.  It is then baked, slowly turning, on a rotating spit above an open flame.  Carefully edged off its wooden mold after baking, each chimney cake is a whimsical-looking, soft bread with an addictively crunchy caramelized sugar crust and an airy open center.    
			</p>
			<p>
				Chimney Cakes - Transylvanian TreatsAnna Kozma, who hails from Romania, said this special-occasion cake (called kurtoskalacs, or chimney cake) was just a provincial treat until after the fall of Communism, when entrepreneurs began opening city shops in Romania, Hungary and elsewhere in Europe.
			</p>
			</div>


		</section>


		<section class="content row">
		

			<div class="col-lg-7">
				<p>
					Mititei ( or mici, both Romanian words meaning "small things") is a traditional Romanian dish of grilled ground meat rolls made from a mixture of beef, lamb and pork and spices such as garlic, black pepper, thyme, coriander, anise, savory and sometimes a touch of paprika. Sodium bicarbonate and broth or water are also added to the mixture. It is best served accompanied by mustard and beer. Ideally the mustard should not be overly tart, lest it interferes with the taste of the mititei. The dish is very popular in Romania.
				</p>
			</div>
	<div class="col-lg-5">
				<img class="traditions" src="assets/food&wine/Mici.jpg" alt="" >	
			</div>

		</section>

			<section class="content row">

			<div class="col-lg-5">
				<img class="traditions" src="assets/food&wine/Cheese.jpg" alt="" >	
			</div>

			<div class="col-lg-7">
				<p>
					Cheese and tree bark don't seem like a natural fit. But this specialty of southeast Transylvania, especially in the towns and villages that include Moeciu and Fundata, may go as far back as the 14th century. Dairy farmers needed a way to store the surplus cheese, and the local evergreen forests provided the perfect vehicle. After all, woody bark provides wonderful protection for trees. Strip the bark from a fir tree, wrap it around the cheese and presto: the dairy product remains moist and preserved from the elements. 
				</p>
			</div>
		</section>


