	<h2>Tradition & Folklore</h2>
	<p>
		In rural Romania you can experience a way of life which vanished from the west nearly a century ago. Traditional occupations such as shepherding, weaving and carpentry are still very much alive in its attractive little villages, where painting icons on glass and colouring eggs provide an attractive contrast to 21st century activities.You can see much that you cannot easily experience elsewhere: ploughing with horses, cutting hay with a scythe, milking a cow, making a horseshoe by hand at the forge. Food in rural Transylvania is frequently organic and, surprisingly to the Western visitor, full of flavour.
	</p>
		<section class="content row">

			<div class="col-lg-5">
				<img class="traditions" src="assets/Traditions/cimitirul-vesel-de-la-sapanta.jpg" alt="" >	
			</div>

			<div class="col-lg-7">
				<p>
					The Merry Cemetery (Romanian: Cimitirul Vesel) is a cemetery in the village of Sãpânta, Maramures county, Romania,that is famous for its colourful tombstones with the native paintings that represent scenes from the life of the buried persons and even poetry in which those persons are described.
				</p>
				<p>
					The unusual feature of this cemetery is that it grows apart from most of the European cultures, that consider death something solemn. Sometimes this is put in connection with the Dacian culture, whose philosophy was based on the immortality of the soul and the belief that somebody's death was a joyful moment, as that person was getting to a better life.
				</p>
			</div>
		</section>


		<section class="content row">
		

			<div class="col-lg-7">
				<p>
					The structure of Romanian traditional clothing has remained unchanged throughout history and can be traced back to the earliest times. The basic garment for both men and women is a shirt or chemise, which is made from hemp, linen or woollen fabric. This was tied round the waist using a fabric belt, narrow for women and wider for men. 
				</p>
				<p>
					The various pieces of costume have gone out of use at different times during the 20th century.  The first item to disappear in many areas were leather peasant sandals (opinci), although these could be seen in poorer villages again in the years just after the communist regime fell. In most rural areas men's traditional trousers were replaced by modern factory made trousers by mid century and in the post communism years jeans has become universally common. 
				</p>
			</div>
	<div class="col-lg-5">
				<img class="traditions" src="assets/Traditions/Costum_popular.jpg" alt="" >	
			</div>

		</section>



		<section class="content row">

			<div class="col-lg-5">
				<img class="traditions" src="assets/Traditions/Statiunea-Horezu.jpg" alt="" >	
			</div>

			<div class="col-lg-7">
				<p>
					Romanian pottery is still made mainly on traditional kick-wheels with simple finishing tools.  Shapes, sizes and patterns reflect the different clays and cultures of diverse areas where are produced.  Color glazes and decorations vary from strong geometrics, to delicate florals, animals and humans.  
				</p>
				<p>
					There are approximately 30 pottery centers throughout the country, each with its own distinctive style, but the main areas are in Horezu in Oltenia;  Miercurea-Ciuc and Corund in western Transylvania; Baia Mare near the northern border, and Radauti and Marginea in Moldavia.  
				</p>
			</div>
		

		</section>
		<section class="content row">


			<div class="col-lg-7">
				<p>
					The most readily recognizable examples of Romanian art are the famed painted eggs, especially prominent around Easter time.  Painting of real hollowed-out eggs was an integral part of preparations for this festival of renewal.  Women and children gathered in someone’s home and spent a day painting and gossiping.  
				</p>
				<p>
					Intricate patterns were actually secret languages known only to residents of the regions where they were painted.  The oldest known were painted with aqua fortis (nitric acid) on a traditional red background.   They’re available in nearly all shops and street markets.
				</p>
			</div>
			<div class="col-lg-5">
				<img class="traditions" src="assets/Traditions/oua-incondeiate.jpg" alt="" >	
			</div>

		</section>

				<section class="content row">
			<div class="col-lg-5">
				<img class="traditions" src="assets/Traditions/porti-maramures.jpg" alt="" >	
			</div>


			<div class="col-lg-7">
				<p>
					Maramures is the area to see the art of woodwork.  Homes are trimmed in elaborately carved wood, wooden gates and even fences are intricately carved.  Historically, in this area, a family’s community status was displayed through the gate – the more elaborate, the more important the family. 
				</p>
				<p>
					Hand-carved decorations in complex patterns hold meanings beyond the purely decorative.  Trees of life, twisted rope, moons, stars, flowers and wolf teeth to ward off evil spirits are associated with myths and superstitions.  They show up in furniture, spoons, ladles, walking sticks, keepsake chests and other decorative objects, sometimes embellished with paint.   Wooden flutes and recorders are also elaborately carved.  
				</p>
			</div>

		</section>