				<div id="myCarousel" class="carousel slide">

					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1" ></li>
						<li data-target="#myCarousel" data-slide-to="2" ></li>
						<li data-target="#myCarousel" data-slide-to="3" ></li>

					</ol><!--carousel-indicators-->

					<section class="carousel-inner">
						<div class="active item" >
							<img  src="assets/home images/Delta-Dunarii2.jpg" alt="Photo of Delta Dunarii">

							<div class="carousel-caption">
								<h3>Danube Delta</h3>
								<p>A UNESCO Natural World Heritage Site and The place of many wild birds </p>
							</div><!--carousel-caption-->
						</div>
						<div class="item">
							<img src="assets/home images/Drum-Transfagarasanu.jpg" alt="Photo of Drum Transfagarasanu">

							<div class="carousel-caption">
								<h3>Transfagarasanu Road</h3>
								<p>Some people say that it is the best road in the world</p>
							</div><!--carousel-caption-->
						</div>
						<div class="item">
							<img src="assets/home images/Lacul-Rosu.jpg" alt="Photo of Lacul Rosu">

							<div class="carousel-caption">
								<h3>Red Lake</h3>
								<p>An amazing lake between mountains</p>
							</div><!--carousel-caption-->
						</div>
						<div class="item">
							<img src="assets/home images/Manastirea-Sucevita.jpg" alt="Photo of Manastirea Sucevita">

							<div class="carousel-caption">
								<h3>Sucevita Monastery</h3>
								<p>Another UNESCO World Heritage Site with famous Moldavian style of exterior paintings</p>
							</div><!--carousel-caption-->
						</div>
					</section><!--carousel-inner-->

					<a href="#myCarousel" class="left carousel-control" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
					<a href="#myCarousel" class="right carousel-control" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

				</div><!--myCarousel-->