			<section class="container">
				<footer class="row">
					<nav class="col-lg-12">

						<ul class="breadcrumb">
							<li><a href="">Feedback Us</a></li>
							<li><a href="">Site Map</a></li>
							<li><a href="">Privacy Policy</a></li>
						</ul>

					</nav><!--col-lg-12-->
				</footer><!--row-->
			</section><!--container-->