				<h2>Upcoming Events</h2>
					<!-- Nav tabs -->
						<ul class="nav nav-tabs">
							<li><a href="#mon" data-toggle="tab">Mon</a></li>
							<li><a href="#tue" data-toggle="tab">Tue</a></li>
							<li><a href="#wed" data-toggle="tab">Wed</a></li>
							<li><a href="#thu" data-toggle="tab">Thu</a></li>
							<li><a href="#fri" data-toggle="tab">Fri</a></li>
							<li><a href="#sat" data-toggle="tab">Sat</a></li>
							<li><a href="#sun" data-toggle="tab">Sun</a></li>
						</ul><!--nav nav-tabs-->

						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane active" id="mon">
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
							<div class="tab-pane" id="tue">
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
							<div class="tab-pane" id="wed">
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
							<div class="tab-pane" id="thu">
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
							<div class="tab-pane" id="fri">
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
							<div class="tab-pane" id="sat">
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
							<div class="tab-pane" id="sun">
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
						</div><!--tab-content-->