<h2>Transportation</h2>



				<h3 id="title_trans">Getting to Romania</h3>
						<ul class="nav nav-tabs">
							<li><a href="#by_plane" data-toggle="tab">By Plane</a></li>
							<li><a href="#by_car" data-toggle="tab">By Car</a></li>
							<li><a href="#by_train" data-toggle="tab">By Train</a></li>
							<li><a href="#by_boat" data-toggle="tab">By Boat</a></li>

						</ul><!--nav nav-tabs-->

						<!-- Tab panes -->
						<div class="tab-content transportation_tab" id="trans_tab" >
							<div class="tab-pane active" id="by_plane">
								<h3>Getting to Romania by Plane</h3>
									<p>
										The airlines member of the Sky Team partnership (Delta, KLM, Air France 
										and Alitalia) offer excellent connections from all major airports in North 
										America to Romania's capital city - Bucharest.
									</p>
									<p>
										Arad, Bacau, Bucharest, Cluj, Craiova, Oradea, Sibiu, Targu Mures and Timisoara are also connected with cities in Europe by low-cost airlines 
										such Air Berlin, Blue Air, Carpat Air, Niki and Wizz Air.
									</p>
							</div>
							<div class="tab-pane" id="by_car" >
								<h3>Getting to Romania by Car</h3>
								<p>
									Documents required by Border Police are the vehicle's registration, proof of insurance and a valid driver's license. U.S. / Canadian/ Australian/ New Zealand driver licenses are valid for driving in Romania for 90 days from the date of entry into Romania. 
								</p>
								<p>
									When renting a car in Europe, please check with the car rental company about its policy regarding taking the car across national borders.	Independent travelers entering Romania by car (own or rental) need to obtain a road toll badge, called Rovinieta. 
								</p>
								<p>									
										Rovinieta is available at any border-crossing point, postal office and most gas stations at a cost of (the equivalent in Romanian Lei) $5.00 to $8.00 (valid for up to 7 days) or $9.00 to $15.00 (valid for 30 days),  depending on car type.
								</p>
							</div>
							<div class="tab-pane" id="by_train">
								<h3>Getting to Romania by Train</h3>
								<p>
									Traveling by train from other European countries to Romania takes from 6 hours (Budapest to Timisoara) to about 46 hours (London to Bucharest). 
									Most train tickets allow several stopovers en route so train travel can be an affordable and relaxing way to include Romania in a European trip.
								</p>
								<img src="assets/cfr.jpg" alt="">
							</div>
							<div class="tab-pane" id="by_boat">
								<h3> Getting to Romania by Boat </h3>
								<p>
									Several river cruise companies based in Germany or Austria offer cruises on the Danube River through to the Danube Delta and the Black Sea Coast. 
								</p>
							</div>

							
						</div><!--tab-content-->


					<h3 id="title_trans">Domestic Transportation</h3>
						<ul class="nav nav-tabs">
							<li><a href="#train" data-toggle="tab">Train</a></li>
							<li><a href="#bus" data-toggle="tab">Bus</a></li>
							<li><a href="#car_rental" data-toggle="tab">Car Rental</a></li>
							<li><a href="#taxi" data-toggle="tab">Taxi</a></li>
							<li><a href="#domestic_flights" data-toggle="tab">Domestic Flights</a></li>

						</ul><!--nav nav-tabs-->

						<!-- Tab panes -->
						<div class="tab-content transportation_tab" id="trans_tab">
							<div class="tab-pane " id="train">
								<h3> Domestic Transportation - Train	</h3>
								<p>
									Romania has a well-developed railway network that covers virtually the whole country. Trains are one of the most popular means of getting around Romania. 
									They are inexpensive and generally on time.
								</p>
								<p>
									Three different services are offered:
								</p>
								<p>
								The cheapest and slowest are local the local trains - Regional ( R ). 
								</p>
								<p>
									Faster and more expensive are the InterRegional trains ( IR ) that require a seat reservation along with the ticket. 
								</p>
								<p>
									The fastest and the most expensive are Inter-City Trains ( IC ).
								</p>
								<p>
									The last two types of trains have dining cars and sleepers (overnight or long distance trains only). 
								</p>
								<img src="assets/cfr.jpg" alt="">
							</div>
							<div class="tab-pane active" id="bus" >
								<h3>Domestic Transportation - Bus</h3>
								<p>
									There are several bus companies that offer fast and inexpensive connections between Romania's main cities.Inter-City bus stations (Autogara) are usually located near to the train station.
								</p>
								<p>
									To check bus schedules (domestic routes) please visit: <a href="http://www.autogari.ro/?lang=en" target="_blank">  www.autogari.ro</a>
								</p>
							</div>
							<div class="tab-pane" id="car_rental">
								<h3>Domestic Transportation - Car rental</h3>
								<p>
									Travel by car is the best way to discover Romania's remote areas,to admire the unique scenery and take advantage of the innumerable photo opportunities.
								</p>
								<p>
									A hired car will save travelers a lot of time when visiting attractions such as the Painted Monasteries in Bucovina and the traditional villages in Maramures.
								</p>
								<p>
									Most major international and local car rental companies have offices in the major cities and airports. Rental policies vary from company to company;
									usually renters must be over 21, have a valid driver's licence and 
									a valid credit card.
								</p>
							</div>
							<div class="tab-pane" id="taxi">
								<h3>Domestic Transportation - Taxi</h3>
								<p>
									Taxis are available in every city and larger towns in Romania. They can be summoned by telephone or hailed on the street. Authorized taxis can be recognized by the TAXI sign on the roof. All Taxis should be equipped with meters.
								</p>
								<p>
									Taxis can also be ordered by calling specialized companies which can confirm the rates / mile and approximate cost of the ride. Drivers approaching you at the airport or at the train station in Bucharest are likely to inflate their rates; please avoid them.
								</p>
								<p style="font-weight: bold;">Taxi tariffs vary from city to city:</p>
								<table border="1">
									<tr>
										<td>upon entry</td>
										<td>$ 0.5 - $ 1.2</td>
									</tr>
									<tr>
										<td>trips within city limits</td>
										<td>$ 0.8 - $ 2 / mile</td>
									</tr>
									<tr>
										<td>trips outside city limits</td>
										<td>$ 1.2 - $ 2 / mile</td>
									</tr>
									<tr>
										<td>slow traffic or waiting time</td>
										<td>$ 0.1 - $ 0.3 / minute</td>
									</tr>
								</table>
							</div>
							<div class="tab-pane" id="domestic_flights">
								<h3> Domestic Transportation - Domestic flights </h3>
								<p>
									There are scheduled domestic flights connecting cities within Romania which are operated by CarpatAir and Tarom.
								</p>
								<p>
									Tarom (<a href="http://www.tarom.ro/en/" target="_blank">Tarom.com</a>) operates domestic flights between Bucharest and several cities in Romania.
								</p>
							</div>
						</div><!--tab-content-->