
		<div class = "container" id="tripplanner">


			<section class="content row">
				<div class="col-lg-12">
					<header class="clearfix">

						<section id="branding" class="brand">
							<a href="index.html"><img src="assets/romania-branding.png" alt="Logo for Romania" style="max-width:100%"></a>
						</section>
						<%= render "components/header" %>


					</header> <!--clearfix-->
				</div><!--column-->
			</section><!--content row-->

<section class="container">
<div class="content row ">
	<section class="col-lg-12 main_container">
							<h2>Trip Planner</h2>
							<p></p>
<div class="content row my_content">


<div class="col-lg-6 img_text left">
	<div class="fluid">
				<div class="top">
					<img src="">
				</div>
				<img class="center_img" src="assets/CFR_tn.jpg" alt="Transportation" />
				<section class="inner">
					<%= link_to 'Transportation', transportation_path, :remote => true, :class => "img_title" %>
							<p>As a densely populated country in a central location in Central-Southeastern Europe and with a developed economy, Romania has a dense and modern transportation infrastructure.</p>
				</section>
				<div class="clear foot">
					<img src="">
				</div>
			</div>
</div>

<div class="col-lg-6 img_text ">
	<div class="fluid">
				<div class="top">
					<img src="">
				</div>
				<img class="center_img" src="assets/Map_tn.jpg" alt="Itinerary Ideas" />
				<section class="inner">
					<%= link_to 'Itinerary Ideas', itinerary_ideas_path, :remote => true, :class => "img_title" %>
							<p>Starting from the capital Bucharest up to the northern border with the Ukraine, covering almost all historical regions of Romania and also most of it's interesting and unique sites, this tour offers you a glance at the best what Romania can offer. </p>
				</section>
				<div class="clear foot">
					<img src="">
				</div>
			</div>
</div>
</div>
<div class="content row my_content">





</div>


</section>


	</section>
</div>




			<%= render "components/footer"  %>

		</div><!--container-->

