		<div class = "container"  id="aboutromania">
			<section class="content row">
				<div class="col-lg-12">
					<header class="clearfix">				
							<section id="branding" class="brand">
							<a href="index.html"><img src="assets/romania-branding.png" alt="Logo for Romania" style="max-width:100%"></a>
						</section>
						<%= render "components/header" %>

					</header> <!--clearfix-->
				</div><!--column-->
			</section><!--content row-->
			
			<section class="container">
				<div class="row">
					<nav class="col-lg-7">

						<h2>About Romania</h2>
							<p>Romania is a country located at the intersection of Central and Southeastern Europe, bordering on the Black Sea. Romania shares a border with Hungary and Serbia to the west, Ukraine and Moldova to the northeast and east, and Bulgaria to the south. At 238,391 square kilometres (92,043 sq mi), Romania is the eighth largest country of the European Union by area, and has the seventh largest population of the European Union with 20,121,641 people (20 October 2011). Its capital and largest city is Bucharest – the sixth largest city in the EU.Tourism in Romania focuses on the country's natural landscapes and its rich history. </p>


				<!-- 		<ul class="nav nav-tabs">
							<li class="active"><a href="#mon" data-toggle="tab">Mon</a></li>
							<li><a href="#tue" data-toggle="tab">Tue</a></li>
							<li><a href="#wed" data-toggle="tab">Wed</a></li>
							<li><a href="#thu" data-toggle="tab">Thu</a></li>
							<li><a href="#fri" data-toggle="tab">Fri</a></li>
							<li><a href="#sat" data-toggle="tab">Sat</a></li>
							<li><a href="#sun" data-toggle="tab">Sun</a></li>
						</ul><!--nav nav-tabs-->

						<!-- Tab panes -->
				<!-- 		<div class="tab-content">
							<div class="tab-pane active" id="mon">
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
					
						</div><!--tab-content-->

						</br>
						</br>

						<h2>Location</h2>
						<p>
							Romania is situated in the southeastern part of Central Europe and shares borders with Hungary to the northwest, Serbia to the southwest, Bulgaria to the south, the Black Sea to the southeast, Ukraine to the east and to the north and the Republic of Moldova to the east. Roughly the size of Oregon, Romania is the second largest country in the area, after Poland.
						</p>
						<p>
							<strong>Geographical location of Romania: </strong>
							between latitudes 43°37’07" and 48°15’06" North and longitudes 20°15’44" and 29°41’24" East. Romania extends approximately 300 miles North to South and 400 miles East to West.
						</p>
						<p>
							<strong>Bucharest </strong>
							 — the capital city of Romania — is located at the same latitude with the cities of Portland - Oregon; Montreal - Canada; Venice - Italy; and Bordeaux - France.
						</p>

						</br>
						</br>

						<h2>Romania's History</h2>
						<p>
							Romania's history has not been as idyllically peaceful as its geography. Over the centuries, various migrating people invaded Romania. Romania's historical provinces Wallachia and Moldova offered furious resistance to the invading Ottoman Turks. Transylvania was successively under Habsburg, Ottoman, Hungarian or Wallachian rule, while remaining an (semi) autonomous province. 
						</p>
						<p>
							Romania's post WWII history as a communist-block nation is more widely known, primarily due to the excesses of the former dictator Nicolae Ceausescu. In December 1989 a national uprising led to his overthrow. The 1991 Constitution established Romania as a republic with a multiparty system, market economy and individual rights of free speech, religion and private ownership.
						</p>

					</nav><!--col-lg-7-->
					<nav class="col-lg-5">
						<h2>Facts </h2>
						<div id="facts">
							<section class="row">
								<nav class="col-lg-12">
									<p id="fact_title">Building</p>
									<p> According to the World Records Academy, the Palace of Parliament is the world's largest civilian building with an administrative function, most expensive administrative building and heaviest building.</p>

									<p id="fact_title">IT</p>
									<p> Bitdefender is an antivirus software suite developed by Romania-based software company Softwin</p>

									<p id="fact_title">Television</p>
									<p> In September 2009 the cast and crew of the British television show Top Gear were seen filming along the road. Jeremy Clarkson, the Top Gear host, had said about Transfăgărășan that "this is the best road... in the world".</p>

									<p id="fact_title">Invention</p>
									<p>In 2010, based on the notion that Coandă invented the first jet, the centennial of the jet aircraft was celebrated in Romania. At the European Parliament, an exhibition commemorated the building and testing of the Coandă-1910.</p>

									<p id="fact_title">Health</p>
									<p>Romania is one of the nations with the highest success rate of organs transplantation surgeries, especially kidneys and liver. In 2013, the country joined the list of countries with the highest number of organ transplants performed.</p>

									<p id="fact_title">Sport</p>
									<p>Ilie Năstase is a Romanian former World No. 1 professional tennis player, one of the world's top players of the 1970s. Năstase was ranked World No. 1 between 1973 (August 23) and 1974 (June 2). He is one of the five players in history to win more than 100 ATP professional titles (58 singles and 45 in doubles).</p>

									<p id="fact_title">Nature</p>
									<p>A high percentage (47% of the land area) of the country is covered with natural and semi-natural ecosystems.[125] Since almost half of all forests in Romania (13% of the country) have been managed for watershed conservation rather than production, Romania has one of the largest areas of undisturbed forest in Europe.</p>
								</nav>
								<!-- <nav class="col-lg-5">
								
								</nav> -->
							</section><!-- row -->

						</div>												

						<h2>People</h2>
						<p>
							Foreign visitors consider Romanians among the friendliest and most hospitable people on earth. Romanians are by nature fun loving, warm, hospitable, playful, with an innate sense of humor.
						</p>
						<div id="facts">
							<section class="row">
								<nav class="col-lg-12">
									<p>
										<strong>Constantin Brancusi</strong>
										— one of the most acclaimed modern sculptors.
									</p>
									<p>
										<strong>Angela Gheorghiu</strong>
										 - one of the world's greatest opera soprano -
									</p>

									<p>
										<strong>Alexandra Nechita</strong>
										 - a young Romanian painter living in California, known for her distinct style.
									</p>

									<p>
										<strong>Ilie Nastase </strong>
										Twice ranked as the world's number one men's player in the early 1970s, Ilie Nastase won two Grand Slam singles titles during his illustrious career - the US Open in 1972 and the French Open in 1973.
									</p>
									<p>
										<strong>Radu Lupu</strong>
										 If there's one pianist who challenges you to hear classical music in a whole new way, it's Radu Lupu. Since winning the Van Cliburn Competition in 1966, he's gained a loyal following for his idiosyncratic interpretations that always explore the complex emotions behind the music. 
									</p>
									<p>
										<strong>Nadia Comaneci</strong>
										 A gymnastics legend, stunning the world with her skills on the uneven bars, the first in the world to score a perfect 10.  Nadia is practically single-handedly responsible for the popularity of gymnastics as a sport, thanks to sweeping the Olympics for gold medals in her youth. 
									</p>

								</nav>
							</section>
						</div>


					</nav><!--col-lg-5-->
				</div><!--row-->
			</section><!--container-->

		<%= render "components/footer" %>
		</div><!--container-->