		<div class = "container"  id="aboutromania">
			<section class="content row">
				<div class="col-lg-12">
					<header class="clearfix">				
							<section id="branding" class="brand">
							<a href="index.html"><img src="assets/romania-branding.png" alt="Logo for Romania" style="max-width:100%"></a>
						</section>
						<%= render "components/header" %>

					</header> <!--clearfix-->
				</div><!--column-->
			</section><!--content row-->
			
			<section class="container">
				<div class="row">
					<nav class="col-lg-7">

						<h2>About Romania</h2>
							<p>Romania is a country located at the intersection of Central and Southeastern Europe, bordering on the Black Sea. Romania shares a border with Hungary and Serbia to the west, Ukraine and Moldova to the northeast and east, and Bulgaria to the south. At 238,391 square kilometres (92,043 sq mi), Romania is the eighth largest country of the European Union by area, and has the seventh largest population of the European Union with 20,121,641 people (20 October 2011). Its capital and largest city is Bucharest – the sixth largest city in the EU.Tourism in Romania focuses on the country's natural landscapes and its rich history. </p>


				<!-- 		<ul class="nav nav-tabs">
							<li class="active"><a href="#mon" data-toggle="tab">Mon</a></li>
							<li><a href="#tue" data-toggle="tab">Tue</a></li>
							<li><a href="#wed" data-toggle="tab">Wed</a></li>
							<li><a href="#thu" data-toggle="tab">Thu</a></li>
							<li><a href="#fri" data-toggle="tab">Fri</a></li>
							<li><a href="#sat" data-toggle="tab">Sat</a></li>
							<li><a href="#sun" data-toggle="tab">Sun</a></li>
						</ul><!--nav nav-tabs-->

						<!-- Tab panes -->
				<!-- 		<div class="tab-content">
							<div class="tab-pane active" id="mon">
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
					
						</div><!--tab-content-->  

					</nav><!--col-lg-7-->
					<nav class="col-lg-5">
						<h2>Facts </h2>
						<div id="facts">
							<section class="row">
								<nav class="col-lg-12">
									<p id="fact_title">Building</p>
									<p> According to the World Records Academy, the Palace of Parliament is the world's largest civilian building with an administrative function, most expensive administrative building and heaviest building.</p>

									<p id="fact_title">IT</p>
									<p> Bitdefender is an antivirus software suite developed by Romania-based software company Softwin</p>

									<p id="fact_title">Television</p>
									<p> In September 2009 the cast and crew of the British television show Top Gear were seen filming along the road. Jeremy Clarkson, the Top Gear host, had said about Transfăgărășan that "this is the best road... in the world".</p>

									<p id="fact_title">Invention</p>
									<p>In 2010, based on the notion that Coandă invented the first jet, the centennial of the jet aircraft was celebrated in Romania. At the European Parliament, an exhibition commemorated the building and testing of the Coandă-1910.</p>

									<p id="fact_title">Health</p>
									<p>Romania is one of the nations with the highest success rate of organs transplantation surgeries, especially kidneys and liver. In 2013, the country joined the list of countries with the highest number of organ transplants performed.</p>

									<p id="fact_title">Sport</p>
									<p>Ilie Năstase is a Romanian former World No. 1 professional tennis player, one of the world's top players of the 1970s. Năstase was ranked World No. 1 between 1973 (August 23) and 1974 (June 2). He is one of the five players in history to win more than 100 ATP professional titles (58 singles and 45 in doubles).</p>

									<p id="fact_title">Nature</p>
									<p>A high percentage (47% of the land area) of the country is covered with natural and semi-natural ecosystems.[125] Since almost half of all forests in Romania (13% of the country) have been managed for watershed conservation rather than production, Romania has one of the largest areas of undisturbed forest in Europe.</p>
								</nav>
								<!-- <nav class="col-lg-5">
								
								</nav> -->
							</section><!-- row -->

						</div>												
					</nav><!--col-lg-5-->
				</div><!--row-->
			</section><!--container-->

		<%= render "components/footer" %>
		</div><!--container-->