		<div class = "container"  id="aboutromania">
			<section class="content row">
				<div class="col-lg-12">
					<header class="clearfix">				
						<%= render "components/header" %>
					</header> <!--clearfix-->
				</div><!--column-->
			</section><!--content row-->
			
			<section class="container">
				<div class="row">
					<nav class="col-lg-7">

						<h2>About Romania</h2>
							<p>This website is intended to assist travelers who are planning to visit Romania or would like
to learn more about Romania.

Authentic, Natural and Cultural are the words that best capture the essence of Romania,
a dynamic country rich in history, arts and scenic beauty.

Romania offers countless unique travel experiences that are waiting to be discovered.

A journey of a few hours by car or train can take you from the Danube River to a beautiful, intact, medieval town in Transylvania; from Bucharest - Romania's capital city - to the
Black Sea; from Southern Transylvania to Bucovina or Maramures. Take a step back in time
as you visit one of the world's famous painted monasteries in Bucovina, the ancient, hilltop citadel in Sighisoara or an authentic, centuries-old, folkloric village in Maramures.</p>


						<ul class="nav nav-tabs">
							<li class="active"><a href="#mon" data-toggle="tab">Mon</a></li>
							<li><a href="#tue" data-toggle="tab">Tue</a></li>
							<li><a href="#wed" data-toggle="tab">Wed</a></li>
							<li><a href="#thu" data-toggle="tab">Thu</a></li>
							<li><a href="#fri" data-toggle="tab">Fri</a></li>
							<li><a href="#sat" data-toggle="tab">Sat</a></li>
							<li><a href="#sun" data-toggle="tab">Sun</a></li>
						</ul><!--nav nav-tabs-->

						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane active" id="mon">
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
							<div class="tab-pane" id="tue">
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
							<div class="tab-pane" id="wed">
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
							<div class="tab-pane" id="thu">
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
							<div class="tab-pane" id="fri">
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
							<div class="tab-pane" id="sat">
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
							<div class="tab-pane" id="sun">
								<ul>
									<li>Lorem</li>
									<li>ipsum</li>
									<li>dolor</li>
								</ul>
							</div>
						</div><!--tab-content-->

					</nav><!--col-lg-7-->
					<nav class="col-lg-5">


					</nav><!--col-lg-5-->
				</div><!--row-->
			</section><!--container-->

		<%= render "components/footer" %>
		</div><!--container-->