	<% $loc = $arbore_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = $arbore %>
			
		<% else %>
			<% @loc_hash = $location %>
			
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>


<article id="Arbore" class="media">
	 <script src="assets/jquery.raty.js" type="text/javascript"></script>
	
	<section class="content row">
		<div class="col-lg-10">
			<h2> Arbore Monastery</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	
	<img src="" alt="">
	<div class="media-body">
			<p>Perhaps a tour of Bucovina’s Painted Monasteries should begin here. After all, the highlight of the small Arbore (Are' bo ray) church is a scene from Genesis, which adorns the western wall. 
			</p>
		<p> The only church in the region with no belfry towers, because it was not built by a prince, the monastery was founded in 1503 by Luca Arbore, the advisor of Stephen the Great (Stefan cel Mare). </p>
		
		
		<section class="modalphotos photogrid">
			<h3>Photos</h3>

	
		</section>
			
		<section class=<%= $clas %> >
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true %>
			<% end %>
	
		</section>

		
		
		
		</div>
	</article>