<article id="Castelul_Corvinestilor" class="media">
	<h2>Castelul Corvinilor</h2>
	<img src="" alt="">
	<div class="media-body">
		<p>Castelul Hunedoarei, numit și Castelul Corvinilor, al Corvineștilor sau al Huniazilor, este cetatea medievală a Hunedoarei, unul din cele mai importante monumente de arhitectură gotică din România. Este o construcție impunătoare, prevăzută cu turnuri, bastioane și un donjon. Acoperișurile sunt înalte și acoperite cu țiglă policromă.</p>
		<p>Deși este aflat încă în renovare (în septembrie 2010), castelul atrage zeci de mii de turiști anual, având 71.000 de vizitatori în prima jumătate din 2010.</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Castles & Fortress/corvinesti/Castelul_Corvinesti_1_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/corvinesti/Castelul_Corvinesti_2_tn.jpg" alt="">

		</section>


	
	</div><!-- media-body -->
</article>