		<% $loc = $bran_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @bran %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>




<article id="Bran_Castle" class="media">
	
	<section class="content row">
		<div class="col-lg-10">
			<h2>Bran Castle</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	<img src="" alt="">
	<div class="media-body">
		<p>Bran Castle situated near Bran and in the immediate vicinity of Braşov, is a national monument and landmark in Romania. The fortress is situated on the border between Transylvania and Wallachia, on DN73. Commonly known as "Dracula's Castle" (although it is one among several locations linked to the Dracula legend, including Poenari Castle and Hunyad Castle), it is marketed as the home of the titular character in Bram Stoker's Dracula. </p>
		<p>The castle is now a museum open to tourists, displaying art and furniture collected by Queen Marie. Tourists can see the interior individually or by a guided tour. At the bottom of the hill is a small open air museum park exhibiting traditional Romanian peasant structures (cottages, barns, etc.) from across the country.
</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Top Destination/Castelul Bran/Castelul_Bran_1_tn.jpg" alt="">
			<img src="assets/Top Destination/Castelul Bran/Castelul_Bran_2_tn.jpg" alt="">
			<img src="assets/Top Destination/Castelul Bran/Castelul_Bran_3_tn.jpg" alt="">
			<img src="assets/Top Destination/Castelul Bran/Castelul_Bran_4_tn.jpg" alt="">
		</section>

		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true %>
			<% end %>
		</section>
		

	</div><!-- media-body -->
</article>