
		<% $loc = $voronet_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @voronet %>
		<% else %>
			<% @loc_hash = $location %>
		<% end %>

		<% $clas = "comment_"+$loc.to_s %>



<article id="Voronet" class="media">
	

	<section class="content row">
		<div class="col-lg-10">
			<h2>Voronet Monastery</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	<img src="" alt="">
	<div class="media-body">
	<p>Perhaps the most famous and stunning of the painted monasteries is Voronet (Vo ro nets), founded in 1487 by Stephen the Great to celebrate a victory over the Turks. </p>
		<p> Portraits of ancient Greek philosophers, such as Aristotle and Plato, are featured in the Tree of Jesus fresco.</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Top Destination/Manastiri pictate/Manastirea_Voronet_1_tn.jpg" alt="">
			<img src="assets/Top Destination/Manastiri pictate/Manastirea_Voronet_2_tn.jpg" alt="">
		</section>

<h3>Comments</h3>
		<section class=<%= $clas %>>
		
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true, 
			 :class => "btn btn-primary button_text" %>
			<% end %>
			
		</section>

	</div>
	</article>