<article id="Timisoara" class="media">
	<h2>Timisoara</h2>
	<img src="" alt="">
	<div class="media-body">
		
	<p>
		Timișoara este reședința și cel mai mare oraș al județului Timiș din regiunea istorică Banat, vestul României.
	</p>
	<p>
		Timisoara a fost si este in continuare un important centru universitar, economic, comercial, istoric, cultural-stiintific, sportiv si turistic al tarii. Orasul a jucat un rol important in Revolutia contra regimului comunist din 1989, fiind primul oras liber din Romania comunista motiv pentru care la 12 ianuarie 1990 primeste statutul de oras martir.
	</p>

		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Cities & Towns/Timisoara/Timisoara_1_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Timisoara/Timisoara_2_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Timisoara/Timisoara_3_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Timisoara/Timisoara_4_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Timisoara/Timisoara_5_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Timisoara/Timisoara_6_tn.jpg" alt="">

			
		</section>
	<% $loc = $timisoara_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @timisoara %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>
		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true %>
			<% end %>
		</section>


	</div><!-- media-body -->
</article>