		<% $loc = $peles_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @peles %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>



<article id="Peles_Castle" class="media">
	
	<section class="content row">
		<div class="col-lg-10">
			<h2>Peles Castle</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	<img src="" alt="">
	<div class="media-body">
		<p>Commissioned by King Carol I in 1873 and completed in 1883, the castle served as the summer residence of the royal family until 1947. Its 160 rooms are adorned with the finest examples of European art, Murano crystal chandeliers, German stained-glass windows and Cordoba leather-covered walls.</p>
		<p>The cost of the work on the castle undertaken between 1875 and 1914 was estimated to be 16,000,000 Romanian lei in gold (approx. US$ 120 million today). Between three and four hundred men worked on the construction.
</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Top Destination/Castelul Peles/Castelul_Peles_1_tn.jpg" alt="">
			<img src="assets/Top Destination/Castelul Peles/Castelul_Peles_2_tn.jpg" alt="">
			<img src="assets/Top Destination/Castelul Peles/Castelul_Peles_3_tn.jpg" alt="">
			<img src="assets/Top Destination/Castelul Peles/Castelul_Peles_4_tn.jpg" alt="">
		</section>

		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true, 
			 :class => "btn btn-primary button_text" %>
			<% end %>
		</section>
		
	</div><!-- media-body -->
</article>