	<% $loc = $prejmer_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @prejmer %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>



<article id="Cetatea_Prejmer" class="media">
	
			<section class="content row">
		<div class="col-lg-10">
			<h2>Prejmer Fortified Church </h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	<img src="" alt="">
	<div class="media-body">
		<p>The largest fortified church in southeastern Europe, Prejmer 
		(Tartlau in German) was built by Teutonic knights in 1212-1213. The powerful surrounding walls are 40 feet high and 10-15 feet thick. </p>
		<p>Endowed with bastions, drawbridges and a secret, subterranean passage through which food supplies could be transported, the church's most famed war device was the "death machine," made of several weapons that could shoot simultaneously, causing the enemy severe losses.
</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Castles & Fortress/prejmer/Cetatea_Prejmer_1_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/prejmer/Cetatea_Prejmer_2_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/prejmer/Cetatea_Prejmer_3_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/prejmer/Cetatea_Prejmer_4_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/prejmer/Cetatea_Prejmer_5_tn.jpg" alt="">




		</section>

		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true , 
			 :class => "btn btn-primary button_text"%>
			<% end %>
		</section>
		
	
	</div><!-- media-body -->
</article>