
			<% $loc = $sucevita_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @sucevita %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>


<article id="Sucevita" class="media">
	
	<section class="content row">
		<div class="col-lg-10">
			<h2>Sucevita Monastery</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	<img src="" alt="">
	<div class="media-body">
	<p>High walls and heavily buttressed defensive towers surround the great monastic complex of Sucevita, giving it the appearance of a fortress. </p>
	<p> An elegant steeple resting on a star-shaped base tops the church. Massive eaves protect the outside frescoes, painted by local artists in 1602-1604.</p>
		
		
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			
		</section>

		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true %>
			<% end %>
		</section>
	
			</div>
	</article>
	