	<% $loc = $rasnov_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @rasnov %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>


<article id="Cetatea_Rasnov" class="media">
	
	<section class="content row">
		<div class="col-lg-10">
			<h2>Rasnov Fortress</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	<img src="" alt="">
	<div class="media-body">
		<p>Rasnov Fortress (Rosenau in German), is located on a rocky hilltop in the Carpathian Mountains, 650 ft. above the town of Rasnov. First mentioned in an official document in 1331, the fortress was built by Teutonic Knights as protection against invading Tartars and was later enlarged by the local Saxon population.</p>
		<p>Recently, the old fortress has been restored to its former glory and today, you can visit the impressive remains. There is also a museum here, hidden behind the ancient walls, where you can find a skeleton buried beneath a glass floor, as well as some other interesting artifacts. 
</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Castles & Fortress/rasnov/Cetatea_Rasnov_1_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/rasnov/Cetatea_Rasnov_2_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/rasnov/Cetatea_Rasnov_3_tn.jpg" alt="">

			



		</section>

		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true, 
			 :class => "btn btn-primary button_text" %>
			<% end %>
		</section>
		
	</div><!-- media-body -->
</article>