			<% $loc = $moldovita_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @moldovita %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>



<article id="Moldovita" class="media">
	<section class="content row">
		<div class="col-lg-10">
			<h2> Moldovita Monastery</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	
	<img src="" alt="">
	<div class="media-body">
	<p>The Monastery of Moldovita (Mol do vee' tsa), located in the village of Vatra Moldovitei, was built by Petru Rares in 1532.</p>
	<p>The predominantly gold and deep blue paintings on the exterior walls were completed in 1537.  The large and vivid Siege of Constantinople highlights the frescoes.</p>	
		
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
		
		</section>


		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true %>
			<% end %>
		</section>
		
		
	</div>
	</article>