	<% $loc = $iasi_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @iasi %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>



<article id="Iasi" class="media">
	
	<section class="content row">
		<div class="col-lg-10">
			<h2>Iasi</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	<img src="" alt="">
	<div class="media-body">
		
	<p>
		Iasi is the most important political, economic and cultural centre of the province of Moldavia as well as one of the oldest cities in Romania. 
	</p>
	<p>
		Deeply rooted in history, Iasi has been the main centre of Moldavian culture since 1408. The city prides itself with publishing the first Romanian newspaper and establishing the first Romanian university. Today, Iasi is home to five universities.
	</p>

		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Cities & Towns/Iasi/Iasi_1_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Iasi/Iasi_2_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Iasi/Iasi_3_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Iasi/Iasi_4_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Iasi/Iasi_5_tn.jpg" alt="">
			
		</section>

<h3>Comments</h3>
		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true , 
			 :class => "btn btn-primary button_text"%>
			<% end %>
		</section>
		
	</div><!-- media-body -->
</article>