		<% $loc = $brasov_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @brasov %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>




<article id="Brasov" class="media">
	
	<section class="content row">
		<div class="col-lg-10">
			<h2>Brasov</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	<img src="" alt="">
	<div class="media-body">

	<p>
		Fringed by the peaks of the Southern Carpathian Mountains and resplendent with gothic, baroque and renaissance architecture, as well as a wealth of historical attractions, Brasov is one of the most visited places in Romania.
	</p>
	<p>
		Stroll around the old Town Hall Square (Piata Sfatului) where you can admire colorfully painted and ornately trimmed baroque structures. Take a peek inside the Black Church (Biserica Neagra), the largest gothic church in Romania.
	</p>

		
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Cities & Towns/Brasov/Brasov_1_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Brasov/Brasov_2_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Brasov/Brasov_3_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Brasov/Brasov_4_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Brasov/Brasov_5_tn.jpg" alt="">

			
		</section>


		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true %>
			<% end %>
		</section>

	</div><!-- media-body -->
</article>