
	<% $loc = $corvinilor_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @corvinilor %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>


<article id="Castelul_Corvinestilor" class="media ">
		<section class="content row">
		<div class="col-lg-10">
			<h2>Corvinesti Castle in Hunedoara</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	
	<img src="" alt="">
	<div class="media-body">
		<p>The greatest Gothic-style castle in Romania, Corvinesti was built by the Anjou family on the site of a former Roman camp. The castle served as a fortress until the mid-14th century when it became the residence of Transylvania's ruler, Iancu de Hunedoara. Iancu upgraded the fortress transforming it into the most stunning castle in Transylvania.</p>
		<p>The beautifully preserved structure features a sumptuous Knights' Hall, an impressive drawbridge, high buttresses, inner courtyards, a chapel and some 50 rooms resplendent with medieval art. The courtyard features a 100 ft. well dug into stone.</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Castles & Fortress/corvinesti/Castelul_Corvinesti_1_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/corvinesti/Castelul_Corvinesti_2_tn.jpg" alt="">

		</section>

		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true, 
			 :class => "btn btn-primary button_text" %>
			<% end %>
		</section>
		
	</div><!-- media-body -->
</article>