<article id="Timisoara" class="media">
	<h2>Timisoara</h2>
	<img src="" alt="">
	<div class="media-body">
		
</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Cities & Towns/Timisoara/Timisoara_1_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Timisoara/Timisoara_2_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Timisoara/Timisoara_3_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Timisoara/Timisoara_4_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Timisoara/Timisoara_5_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Timisoara/Timisoara_6_tn.jpg" alt="">

			
		</section>



	</div><!-- media-body -->
</article>