, 	<% $loc = $constanta_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @constanta %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>




<article id="Constanta" class="media">
	
	<section class="content row">
		<div class="col-lg-10">
			<h2>Constanta</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	<img src="" alt="">
	<div class="media-body">
		
	<p>
		Situated at the crossroads of several commercial routes, Constanta lies on the western coast of the Black Sea, 185 miles from the Bosphorus Strait. An ancient metropolis and Romania's largest sea port, Constanta traces its history some 2,500 years. Originally called Tomis, legend has it that Jason landed here with the Argonauts after finding the Golden Fleece.
	</p>
	<p>
		The third largest city in Romania, Constanta is now an important cultural and economic centre, worth exploring for its archaeological treasures and the atmosphere of the old town centre. 
	</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Cities & Towns/Constanta/Constanta_1_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Constanta/Constanta_2_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Constanta/Constanta_3_tn.jpg" alt="">
			
		</section>

<h3>Comments</h3>
		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true, :class => "btn btn-primary button_text" %>
			<% end %>
		</section>

	</div><!-- media-body -->
</article>