		<% $loc = $delta_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @delta %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>

<article id="Danube_Delta" class="media">

	<section class="content row">
		<div class="col-lg-10">
			<h2>Danube Delta</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	
	<img src="" alt="">
	<div class="media-body">
		<p>The mighty Danube River flows 1,788 miles from its springs in Germany’s Black Forest to the Black Sea. Just before reaching the sea it forms the second largest and best preserved of Europe's deltas: 2,200 square miles of rivers, canals, marshes, tree-fringed lakes and reed islands. The Danube Delta is a wildlife enthusiast’s (especially a bird watcher’s) paradise.</p>
		<p>Travelers can spend three or more days exploring its passages, teaming with the highest concentration of bird colonies in all of Europe. </p>
		
		
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Top Destination/Delta Dunarii/Delta_Dunarii_1_tn.jpg" alt="">
			<img src="assets/Top Destination/Delta Dunarii/Delta_Dunarii_2_tn.jpg" alt="">
			<img src="assets/Top Destination/Delta Dunarii/Delta_Dunarii_3_tn.jpg" alt="">
		</section>


		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true , 
			 :class => "btn btn-primary button_text"%>
			<% end %>
		</section>
		
				

			
		
	</div><!-- media-body -->
</article>
</article>