<article id="Danube_Delta" class="media">
	<h2>Danube Delta</h2>
	<img src="" alt="">
	<div class="media-body">
		<p>La capătul unui drum ce depăşeşte 2.860 km colectând apele unui impresionant bazin hidrografic a cărui suprafaţă acoperă mai mult de 80% din suprafaţa Europei, Dunărea, cel de-al doilea fluviu ca mărime al bătrânului continent construieşte la întâlnirea sa cu Marea Neagră, de mai bine de 10 000 de ani, una dintre cele mai frumoase delte din Europa şi chiar din lume, cunoscută şi ca una din marile zone umede ale planetei.</p>
		<p>Se poate spune că prin diversitatea impresionantă a habitatelor şi a formelor de viaţă pe care le găzduieşte într-un spaţiu relativ restrâns, Delta Dunării constituie un adevărat muzeu al biodiversităţii, o bancă de gene naturală de valoare inestimabilă pentru patrimoniul natural universal. </p>

		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Top Destination/Delta Dunarii/Delta_Dunarii_1_tn.jpg" alt="">
			<img src="assets/Top Destination/Delta Dunarii/Delta_Dunarii_2_tn.jpg" alt="">
			<img src="assets/Top Destination/Delta Dunarii/Delta_Dunarii_3_tn.jpg" alt="">
		</section>
		
	
			
				
				<% @delta.each do |d1,d2| %>
					
						<% if d1 != "note" %>
							<div class="name_comm">
								<p class="name_comm_p">
									Name: <%= d1 %>
								</p>
							</div>
							<br />

							<div class="text_comm">
								<p class="text_comm_p">
									Comment: <%= d2 %>
								</p>
							</div>
						<% else %>
							<br />
							Note: <%= d2  %>
						<% end %>
				<% end %>
			<% if current_user %>
		
			<%= link_to "Comment", comments_path, :remote => true %>
			<% end %>
		
	</div><!-- media-body -->
</article>
</article>