<article id="Cetatea_Prejmer" class="media">
	<h2>Cetatea Prejmer</h2>
	<img src="" alt="">
	<div class="media-body">
		<p>Aflata in partea de nord-est a judetul Brasov, datand inca din secolul al XV lea, Cetatea Prejmer a fost construita in scopul protejarii unuia din cele mai vechi vestigii din Transilvania.</p>
		<p>Una din cele mai importante biserici construite in Transilvania se afla in incinta Cetatii Prejmer, Biserica Fortificata Prejmer. Constructia acesteia a fost incheiata in anul 1240 si este cea mai bine conservata biserica-cetate aflata in estul Europei. Ansamblul de la Prejmer constituie cea mai puternica cetate realizata de colonistii sasi din Transilvania. 
</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Castles & Fortress/prejmer/Cetatea_Prejmer_1_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/prejmer/Cetatea_Prejmer_2_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/prejmer/Cetatea_Prejmer_3_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/prejmer/Cetatea_Prejmer_4_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/prejmer/Cetatea_Prejmer_5_tn.jpg" alt="">




		</section>
	<% $loc = $prejmer_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @prejmer %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>
		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true %>
			<% end %>
		</section>

	
	</div><!-- media-body -->
</article>