<article id="Constanta" class="media">
	<h2>Constanta</h2>
	<img src="" alt="">
	<div class="media-body">
		
</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Cities & Towns/Constanta/Constanta_1_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Constanta/Constanta_2_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Constanta/Constanta_3_tn.jpg" alt="">
			
		</section>



	</div><!-- media-body -->
</article>