		<% $loc = $parliament_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @parliament %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>


<article id="Palace_of_the_Parliament" class="media place_show">
	
	<section class="content row">
		<div class="col-lg-10">
			<h2>Palace of the Parliament</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	<img src="" alt="">
	<div class="media-body">
		<p>Built by Communist Party leader, Nicolae Ceausescu, the colossal Parliament Palace (formerly known as the People's Palace) is the second largest administrative building in the world after the Pentagon. It took 20,000 workers and 700 architects to build. The palace boasts 12 stories, 1,100 rooms, a 328-ft-long lobby and four underground levels, including an enormous nuclear bunker.</p>
		<p>The interior is a luxurious display of crystal chandeliers, mosaics, oak paneling, marble, gold leaf, stained-glass windows and floors covered in rich carpets.</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Top Destination/Casa Poporului/Casa_Poporului_1_tn.jpg" alt="">
			<img src="assets/Top Destination/Casa Poporului/Casa_Poporului_2_tn.jpg" alt="">
			<img src="assets/Top Destination/Casa Poporului/Casa_Poporului_3_tn.jpg" alt="">
		</section>

		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true, 
			 :class => "btn btn-primary button_text" %>
			<% end %>
		</section>
		
	</div><!-- media-body -->
</article>