<article id="Palace_of_the_Parliament" class="media place_show">
	<h2>Palace of the Parliament</h2>
	<img src="" alt="">
	<div class="media-body">
		<p>Palatul Parlamentului din București, România (cunoscut înainte de revoluție sub numele de Casa Republicii sau Casa Poporului[2]), măsoară 270 m pe 240 m, 86 m înălțime, și 92 m sub pământ.</p>
		<p>Are 12 nivele la suprafață și alte 8 subterane. Conform World Records Academy, Palatul Parlamentului este cea mai mare clădire administrativă pentru uz civil ca suprafață din lume, cea mai scumpă clădire administrativă din lume și cea mai grea clădire din lume.</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Top Destination/Casa Poporului/Casa_Poporului_1_tn.jpg" alt="">
			<img src="assets/Top Destination/Casa Poporului/Casa_Poporului_2_tn.jpg" alt="">
			<img src="assets/Top Destination/Casa Poporului/Casa_Poporului_3_tn.jpg" alt="">
		</section>
		<% $loc = $parliament_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @parliament %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>
		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true %>
			<% end %>
		</section>
	</div><!-- media-body -->
</article>