<article id="Cetatea_Valea_Viilor" class="media">
	<h2>Cetatea Valea Viilor</h2>
	<img src="" alt="">
	<div class="media-body">
		<p>Cetatea si biserica fortificata din Valea Viilor face parte din multitudinea de ansambluri arhitectonice din Transilvania incluse in patrimoniul UNESCO.</p>
		<p>Biserica fortificata din Valea Viilor impresioneaza prin masivitatea si proportiile sale uriase, fiind totodata considerata una dintre cele mai marii edificii de cult religios din centrul Transilvaniei.
</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Castles & Fortress/rasnov/Cetatea_Rasnov_1_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/rasnov/Cetatea_Rasnov_2_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/rasnov/Cetatea_Rasnov_3_tn.jpg" alt="">

			



		</section>


	
	</div><!-- media-body -->
</article>