	<% $loc = $balta_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @balta %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>



<article id="Cetatea_de_Balta" class="media">
	
		<section class="content row">
		<div class="col-lg-10">
			<h2>The Bethlen Castle</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	<img src="" alt="">
	<div class="media-body">
		<p>The Bethlen Castle was built in the 16th century in the French Renaissance style and restored in the 17th-18th centuries in the Baroque style. The Reformed Church, situated next to the Castle is a 13th century building.</p>
		<p>The Castle Bethlen-Haller, with its eclectic combination of cultural styles, can be found on the outskirts of Cetatea de Balta in Transilvania, and this premier location provides guests with stunning views of the quiet village. </p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Castles & Fortress/cetatea de balta/Cetatea_de_Balta_1_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/cetatea de balta/Cetatea_de_Balta_2_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/cetatea de balta/Cetatea_de_Balta_3_tn.jpg" alt="">


		</section>

<h3>Comments</h3>
		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true, 
			 :class => "btn btn-primary button_text" %>
			<% end %>
		</section>
		
	</div><!-- media-body -->
</article>