<article id="Cetatea_Rasnov" class="media">
	<h2>Cetatea Rasnov</h2>
	<img src="" alt="">
	<div class="media-body">
		<p>Cetatea Râșnov este ansamblul fortificat situat pe dealul calcaros aflat la sudul orașului Râșnov din județul Brașov, unul din cele mai bine păstrate ansambluri fortificate din Transilvania.</p>
		<p>Cetatea este poziționată pe un deal stâncos, imprejmuit de pǎdure, unde singura cale de acces este dinspre est, arhitectura sa fiind adaptatã reliefului, fortificarea urmărind eficiența apărǎrii dealului. Înfatisarea cetății a cunoscut pânǎ în prezent numeroase modificǎri. Imaginea contemporanǎ totuși pǎstreazǎ elemente arhitecturale care pot reconstitui istoria unei fortificații care a rezistat cu succes asediilor la care a fost supusǎ. 
</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Castles & Fortress/rasnov/Cetatea_Rasnov_1_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/rasnov/Cetatea_Rasnov_2_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/rasnov/Cetatea_Rasnov_3_tn.jpg" alt="">

			



		</section>
	<% $loc = $rasnov_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @rasnov %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>
		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true %>
			<% end %>
		</section>

	
	</div><!-- media-body -->
</article>