		<% $loc = $brasov_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @brasov %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>




<article id="Brasov" class="media">
	
	<section class="content row">
		<div class="col-lg-10">
			<h2>Brasov</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	<img src="" alt="">
	<div class="media-body">

	<p>
		Brașov este reședința și cel mai mare municipiu al județului Brașov,
	</p>
	<p>
		Brașovul este cunoscut și datorită Festivalului Internațional „Cerbul de Aur”, ce se ține aproape în fiecare an în centrul orașului. Acesta a avut pe scena sa nume celebre precum Toto Cutugno, Tom Jones, Coolio, Ray Charles, Pink, Kylie Minogue sau Christina Aguilera.
	</p>

		
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Cities & Towns/Brasov/Brasov_1_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Brasov/Brasov_2_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Brasov/Brasov_3_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Brasov/Brasov_4_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Brasov/Brasov_5_tn.jpg" alt="">

			
		</section>


		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true %>
			<% end %>
		</section>

	</div><!-- media-body -->
</article>