
		<% $loc = $bucuresti_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @bucuresti %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>




<article id="Bucuresti" class="media">
	
	<section class="content row">
		<div class="col-lg-10">
			<h2>Bucharest</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	<img src="" alt="">
	<div class="media-body">
		<p>Bucharest is the capital municipality, cultural, industrial, and financial centre of Romania. It is the largest city in Romania, located in the southeast of the country.
		</p>
		<p>
			Known for its wide, tree-lined boulevards, glorious Belle Époque buildings and a reputation for the high life (which in the 
			1900s earned its nickname of "Little Paris"), Bucharest, Romania's largest city and capital, is today a bustling metropolis.
		</p>

		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Cities & Towns/Bucuresti/Bucuresti_1_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Bucuresti/Bucuresti_2_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Bucuresti/Bucuresti_3_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Bucuresti/Bucuresti_4_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Bucuresti/Bucuresti_5_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Bucuresti/Bucuresti_6_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Bucuresti/Bucuresti_7_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Bucuresti/Bucuresti_8_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Bucuresti/Bucuresti_9_tn.jpg" alt="">
			
		</section>


		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true %>
			<% end %>
		</section>
		
	</div><!-- media-body -->
</article>