		<% $loc = $cluj_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @cluj %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>




<article id="Cluj" class="media">
	
	<section class="content row">
		<div class="col-lg-10">
			<h2>Cluj</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	<img src="" alt="">
	<div class="media-body">
		
	<p>
		This western city in the region of Transylvania traces its origins back to the Dacian settlement of Napuca in the 2-nd century A.D. After the Roman take-over of Dacia, it was renamed Napoca and in 124 A.D., received the rank of "municipium".
	</p>
	<p>
		The name Cluj comes from Castrum Clus, first used in the 12-th century as the name of the citadel surrounding the city. Clus means "closed" in Latin and refers to the hills that surround the city.
	</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Cities & Towns/Cluj/Cluj_1_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Cluj/Cluj_2_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Cluj/Cluj_3_tn.jpg" alt="">
		
		</section>
<h3>Comments</h3>
		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true, 
			 :class => "btn btn-primary button_text" %>
			<% end %>
		</section>
		

	</div><!-- media-body -->
</article>