	<% $loc = $fagaras_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @fagaras %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>




<article id="Cetatea_Fagaras" class="media">
	
			<section class="content row">
		<div class="col-lg-10">
			<h2>Fagaras Fortress</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	<img src="" alt="">
	<div class="media-body">
		<p>Built in 1310 on the site of a former 12th century wooden fortress (burned by the Tartars in 1241), Fagaras was enlarged between the 15th and 17th centuries and was considered one of the strongest fortifications in Transylvania. The fortress was surrounded by a deep moat which, in times of war or social unrest, could easily be filled with water from a nearby mountain brook. </p>
		<p>Records show that the interior must have been luxurious in the 17th century; unfortunately, little of its former grandeur has been preserved. The castle was deprived of its decorations and fancy furniture when it was turned into a military garrison in the 18th century.</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Castles & Fortress/cetatea fagaras/Cetatea_Fagaras_1_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/cetatea fagaras/Cetatea_Fagaras_2_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/cetatea fagaras/Cetatea_Fagaras_3_tn.jpg" alt="">



		</section>

<h3>Comments</h3>
		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true, 
			 :class => "btn btn-primary button_text" %>
			<% end %>
		</section>
		
	</div><!-- media-body -->
</article>