<article id="Iasi" class="media">
	<h2>Iasi</h2>
	<img src="" alt="">
	<div class="media-body">
		
	<p>
		Municipiul Iași este reședința județului Iași și principalul centru urban din nord-estul României. 
	</p>
	<p>
		Iașii sunt centrul cultural, economic și academic al Moldovei. Peste 60.000 de studenti trec pragul universitatilor din oras. Aici a fost fondată și funcționează prima universitate din România, Universitatea Alexandru Ioan Cuza, astăzi una dintre cele mai prestigioase instituții academice din țară, precum și alte patru universități publice și șapte particulare.
	</p>

		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Cities & Towns/Iasi/Iasi_1_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Iasi/Iasi_2_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Iasi/Iasi_3_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Iasi/Iasi_4_tn.jpg" alt="">
			<img src="assets/Cities & Towns/Iasi/Iasi_5_tn.jpg" alt="">
			
		</section>

	<% $loc = $iasi_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @iasi %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>
		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true %>
			<% end %>
		</section>
		<%= render 'rate' %>
	</div><!-- media-body -->
</article>