<article id="Painted_Monastery" class="media">
	<h2>Painted Monastery</h2>
	<img src="" alt="">
	<div class="media-body">
		<p>Bisericile pictate din nordul Moldovei apartin unor manastiri ortodoxe din judetul Suceava din Bucovina, construite la sfârsitul secolului al XV-lea si începutul celui de-al XVI-lea.</p>
		<p>Următoarele 7 biserici pictate au fost înscrise, începând din anul 1993, pe lista patrimoniului cultural mondial a UNESCO (în ordine alfabetică):
Arbore
Humor
Moldovița
Pătrăuți
Probota
Suceava
Voroneț
În 2010, a fost inclusă în listă Mănăstirea Sucevița.</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="" alt="">
		</section>
	</div><!-- media-body -->
</article>