<article id="Painted_Monastery" class="media">
	<h2>Painted Monastery</h2>
	<img src="" alt="">
	<div class="media-body">
		<p>Bisericile pictate din nordul Moldovei apartin unor manastiri ortodoxe din judetul Suceava din Bucovina, construite la sfârsitul secolului al XV-lea si începutul celui de-al XVI-lea.</p>
		<p>Următoarele 7 biserici pictate au fost înscrise, începând din anul 1993, pe lista patrimoniului cultural mondial a UNESCO (în ordine alfabetică):
Arbore
Humor
Moldovița
Pătrăuți
Probota
Suceava
Voroneț
În 2010, a fost inclusă în listă Mănăstirea Sucevița.</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Top Destination/Manastiri pictate/Manastirea_Arbore_1_tn.jpg" alt="" title="Manastirea Arbore">
			<img src="assets/Top Destination/Manastiri pictate/Manastirea_Humor_1_tn.jpg" alt="" title="Manastirea Humor">
			<img src="assets/Top Destination/Manastiri pictate/Manastirea_Moldovita_1_tn.jpg" alt="" title="Manastirea Moldovita">
			<img src="assets/Top Destination/Manastiri pictate/Manastirea_Sucevita_1_tn.jpg" alt="" title="Manastirea Sucevita">
			<img src="assets/Top Destination/Manastiri pictate/Manastirea_Sucevita_2_tn.jpg" alt="" title="Manastirea Sucevita">
			<img src="assets/Top Destination/Manastiri pictate/Manastirea_Voronet_1_tn.jpg" alt="" title="Manastirea Voronet">
		</section>
	</div><!-- media-body -->


	
</article>