<article id="Cetatea_de_Balta" class="media">
	<h2>Cetatea de Balta</h2>
	<img src="" alt="">
	<div class="media-body">
		<p>Castelul este situat în localitatea Cetatea de Baltă, din judeţul Alba. De-a lungul timpului succesivele renovări ale clădirii şi-au lăsat amprenta. Aşa încât astăzi, putem vizita un castel ecclectic, plin de istorie.</p>
		<p>Sunt multe locuri în România ce merită să fie vizitate, castelul Bethlen-Haller este unul dintre ele. Este un loc ce poate să trezească senzaţii atât la nivel vizual, cât şi emoţional. </p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Castles & Fortress/cetatea de balta/Cetatea_de_Balta_1_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/cetatea de balta/Cetatea_de_Balta_2_tn.jpg" alt="">
			<img src="assets/Castles & Fortress/cetatea de balta/Cetatea_de_Balta_3_tn.jpg" alt="">


		</section>

	<% $loc = $balta_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @balta %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>
		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true %>
			<% end %>
		</section>
		<%= render 'rate' %>
	</div><!-- media-body -->
</article>