		<% $loc = $sea_loc  %>
		<% if $location.empty? %>
			<% @loc_hash = @sea %>
			
		<% else %>
			<% @loc_hash = $location %>
		<% end %>
		<% $clas = "comment_"+$loc.to_s %>




<article id="Black_Sea" class="media">
	
	<section class="content row">
		<div class="col-lg-10">
			<h2>Black Sea</h2>
		</div>
		<div class="col-lg-2">
			<%= render 'rate' %>
		</div>

	</section>
	<img src="" alt="">
	<div class="media-body">
		<p>Warm climate, miles of sand beaches, ancient monuments, vineyards and modern resorts invite travelers to seriously consider Romania's Black Sea Coast as their summer vacation destination.</p>
		<p>Beaches, stretching from Mangalia to Mamaia, are dotted with fine resorts and hotels, and countless sports and entertainment facilities.
</p>
		<section class="modalphotos photogrid">
			<h3>Photos</h3>
			<img src="assets/Top Destination/Marea Neagra/Marea_Neagra_1_tn.jpg" alt="">
			<img src="assets/Top Destination/Marea Neagra/Marea_Neagra_2_tn.jpg" alt="">
			<img src="assets/Top Destination/Marea Neagra/Marea_Neagra_3_tn.jpg" alt="">
			<img src="assets/Top Destination/Marea Neagra/Marea_Neagra_4_tn.jpg" alt="">
		</section>


		<section class=<%= $clas %>>
				
			<%= render 'comment'  %>
			<% if current_user %>
			<%= link_to "Comment", comments_path(:clas => $clas,:loc => $loc), :remote => true %>
			<% end %>
		</section>

	</div><!-- media-body -->
</article>