<!DOCTYPE html>
<html>
	<head>
		<meta name ="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home Romania</title>
		<link rel="stylesheet" href="files/css/bootstrap.css" media="screen" />
		<link rel="stylesheet" href="files/css/mystyles.css"  media="screen" />
<!--		<style type="text/css">-->
<!--			body{-->
<!--						background-image:url("images/background.jpg");-->
<!--						background-repeat:no-repeat;-->
<!--						background-attachment:fixed;-->
<!--					}-->
<!--		</style>-->
	</head>
	<body id="destinations">

		<div class = "container">
				<a>
					<img src="images/Brasov_Square.jpg" alt="Brasov Square" style="max-width:100%">
				</a>
			<section class="content row">

				<div class="col-lg-12">
					<header class="clearfix">

						<div class = "navbar navbar-default navbar-static-top">
							<div class = "container">

											<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse" >
													<span class = "icon-bar"></span>
													<span class = "icon-bar"></span>
													<span class = "icon-bar"></span>
											</button>

											<div class = "collapse navbar-collapse navHeaderCollapse">

														<ul class = "nav navbar-nav ">

														<li class = "dropdown">

																	<a href="index.html">Home</a>


															</li>

															<li class = "dropdown">

																	<a href="about_romania.html" class = "dropdown-toggle" >About Romania</a>
																	<ul class = "dropdown-menu">
																		<li><a href= "#">Location</a></li>
																		<li><a href= "#">History</a></li>
																		<li><a href= "#">Culture</a></li>
																		<li><a href= "#">People</a></li>
																	</ul>

															</li>

															<li class = "dropdown">

																	<a href="what_to_do.html" class = "dropdown-toggle" >What to do</a>
																	<ul class = "dropdown-menu">
																		<li><a href= "#">Adventure & Activities </a></li>
																		<li><a href= "#">Birdwatching</a></li>

																	</ul>

															</li>

															<li class = "dropdown">

																	<a href="destinations.html" class = "dropdown-toggle" >Destinations</a>
																	<ul class = "dropdown-menu">
																		<li><a href= "#">Top Destinations</a></li>
																		<li><a href= "#">Cities & Towns</a></li>
																		<li><a href= "#">Regions</a></li>
																		<li><a href= "#">Castles & Fortresses</a></li>
																	</ul>

															</li>

															<li class = "dropdown">

																	<a href="multimedia.html" class = "dropdown-toggle" >Multimedia</a>
																	<ul class = "dropdown-menu">
																		<li><a href= "#">Images</a></li>
																		<li><a href= "#">Videos</a></li>
																		<li><a href= "#">Download Images</a></li>
																	</ul>

															</li>

															<li class = "dropdown">

																	<a href="special_interest.html" class = "dropdown-toggle" >Special Interest</a>
																	<ul class = "dropdown-menu">
																		<li><a href= "#">Traditions & Folklore</a></li>
																		<li><a href= "#">Festivals & Events</a></li>
																		<li><a href= "#">Food & Wine</a></li>
																		<li><a href= "#">Architecture</a></li>
																		<li><a href= "#">Count Dracula Legend</a></li>
																		<li><a href= "#">Shopping</a></li>
																	</ul>

															</li>

															<li class = "dropdown">

																	<a href="trip_planner.html" class = "dropdown-toggle" >Trip Planner</a>
																	<ul class = "dropdown-menu">
																		<li><a href= "#">Getting here and around</a></li>
																		<li><a href= "#">Transportation</a></li>
																		<li><a href= "#">Itinerary Ideas</a></li>
																		<li><a href= "#">Practical Information</a></li>
																		<li><a href= "#">Distinctive Accommodations</a></li>
																		<li><a href= "#">Entry Requirements</a></li>

																	</ul>

															</li>

														</ul>


											</div>  <!--collapse navbar-collapse navHeaderCollapse	-->
									</div>  <!--container-->
						</div>  <!--navbar navbar-inverse navbar-static-top -->

					</header> <!--clearfix-->
				</div><!--column-->
			</section><!--content row-->

			<section class="container">
				<div class="content row">
					<nav class="col-lg-12 main_container">

					<h2>Destinations</h2>
							<p>This website is intended to assist travelers who are planning to visit Romania or would like
to learn more about Romania.
Authentic, Natural and Cultural are the words that best capture the essence of Romania,
a dynamic country rich in history, arts and scenic beauty.
Romania offers countless unique travel experiences that are waiting to be discovered.
A journey of a few hours by car or train can take you from the Danube River to a beautiful, intact, medieval town in Transylvania; from Bucharest - Romania's capital city - to the
Black Sea; from Southern Transylvania to Bucovina or Maramures. Take a step back in time
as you visit one of the world's famous painted monasteries in Bucovina, the ancient, hilltop citadel in Sighisoara or an authentic, centuries-old, folkloric village in Maramures.</p>



							<div class="content row my_content">
								<div class="col-lg-6 img_text left">
									<div class="fluid">

										<div class="top">
											<img src="">
										</div><!--top-->

										<img class="center_img" src="images/Dochia_Cottage_tn.jpg" alt="Top Destinations" />
										<section class="inner">
											<a class="img_title" href="#" >Top Destinations</a>
											<p>This website is intended to assist travelers who are planning to visit Romania or would like
to learn more about Romania.Black Sea; from Southern Transylvania to Bucovina or Maramures. Take a step back in time as you visit one of the world's famous painted monasteries in Bucovina, the ancient, hilltop citadel in Sighisoara or an authentic, centuries-old, folkloric village in Maramures.</p>
										</section><!--inner-->
												<div class="clear foot">
													<img src="">
												</div>
										</div><!--fluid-->
								</div><!--col-lg-6 img_text-->

							<div class="col-lg-6 img_text">
								<div class="fluid">
											<div class="top">
												<img src="">
											</div>
											<img class="center_img" src="images/University_Square_tn.jpg" alt="Cities & Towns" />
											<section class="inner">
												<a class="img_title" href="#" >Cities & Towns</a>
														<p>This website is intended to assist travelers who are planning to visit Romania or would like
							to learn more about Romania.Black Sea; from Southern Transylvania to Bucovina or Maramures. Take a step back in time
							as you visit one of the world's famous painted monasteries in Bucovina, the ancient, hilltop citadel in Sighisoara or an authentic, centuries-old, folkloric village in Maramures.</p>
											</section>
											<div class="clear foot">
												<img src="">
											</div>
										</div>
							</div>
</div>
						<div class="content row my_content">
							<div class="col-lg-6 img_text left">
								<div class="fluid">
											<div class="top">
												<img src="">
											</div>
											<img class="center_img" src="images/Bran_Castle_tn.jpg" alt="Castles & Fortresses" />
											<section class="inner">
												<a class="img_title" href="#" >Castles & Fortresses</a>
														<p>This website is intended to assist travelers who are planning to visit Romania or would like
							to learn more about Romania.Black Sea; from Southern Transylvania to Bucovina or Maramures. Take a step back in time
							as you visit one of the world's famous painted monasteries in Bucovina, the ancient, hilltop citadel in Sighisoara or an authentic, centuries-old, folkloric village in Maramures.</p>
											</section>
											<div class="clear foot">
												<img src="">
											</div>
										</div>
							</div>

							<div class="col-lg-6 img_text">
								<div class="fluid">
											<div class="top">
												<img src="">
											</div>
											<img class="center_img" src="images/Bigar_Cascade_tn.jpg" alt="Regions" />
											<section class="inner">
												<a class="img_title" href="#" >Regions</a>
														<p>This website is intended to assist travelers who are planning to visit Romania or would like
							to learn more about Romania.Black Sea; from Southern Transylvania to Bucovina or Maramures. Take a step back in time
							as you visit one of the world's famous painted monasteries in Bucovina, the ancient, hilltop citadel in Sighisoara or an authentic, centuries-old, folkloric village in Maramures.</p>
											</section>
											<div class="clear foot">
												<img src="">
											</div>
										</div>
							</div>

							</div><!--content row-->


					</nav><!--col-lg-12-->
				</div><!--row-->
			</section><!--container-->

			<section class="container">
				<footer class="row">
					<nav class="col-lg-12">

						<ul class="breadcrumb">
							<li><a href="">Feedback Us</a></li>
							<li><a href="">Site Map</a></li>
							<li><a href="">Privacy Policy</a></li>
						</ul>

					</nav><!--col-lg-12-->
				</footer><!--row-->
			</section><!--container-->

		</div><!--container-->



		<script src="files/js/bootstrap.js"></script>

		<script src="files/js/myscrypt.js"></script>
	</body><!--home-->
</html>
