body {
  background: url(../images/background2.jpg);
  background-size: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.container {
  max-width: 90%;
}
.col-lg-7{
  margin-top: 15px;
  background: #fdf5e3;
  border-radius: 25px;
  width: 56.3333333%;
}


.col-lg-5 {
  margin-top: 15px;
  margin-left: 10px;
  background: #fdf5e3;
  border-radius: 25px;
}
h2 {
  padding: 0;
  padding-bottom: 0;
  border-bottom: 1px dotted #475c98;
  margin-left: 30px;
  padding-top: 15px;
}
.navbar {
  border-right: 2px;
  border-left: 2px;
  border-radius: 10px;
  color: #475c98;
}
.navbar li {
  border-left: 1px solid #374775;
  border-right: 1px solid #5e74b4;
}
.photogrid img {
  margin: 0 0 5px 0;
  cursor: pointer;
  padding-left: 7px;
}
.breadcrumb {
  margin-top: 10px;
  margin-bottom: 0;
}
.img_title {
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 20px;
}
.img_text {
  width: 48%;
  background: #eaeab4;
  border: 2px;
  border-color: #d9d979;
  border-style: solid;
  border-radius: 20px;
}
.left {
  margin-left: 15px;
  margin-right: 8px;
}
.main_container {
  background: beige;
  border-radius: 20px;
  padding-bottom: 10px;s
}
.my_content {
  margin-bottom: 10px;
}
.fluid {

}
.center_img{
	margin: 0 auto;
  width: 90%;
  margin-left: 20px;


}
.name_comm_p{
  font-size: small;
}
.date_comm_p{
  font-size: small;
}
.text_comm{
  border-bottom: 1px dotted #475c98;
}
.button_text{
  width: 100%;
}
#ascunde_harta{
  width: 100%;
}
#arata_harta{
  width: 100%;
}

#modalimage{
     display: block;
    margin-left: auto;
    margin-right: auto;
}
#mapp{

  margin-left: 240px;
}
#event_list{
   list-style-type: none;
   margin-left: -30px;
   border-bottom: 1px dotted #475c98; 
   margin-top: 10px;
}
#event_name{
  font-size: larger;
 background-color: antiquewhite;
 padding-left: 20px;
border-radius: 10px;
margin-bottom: 5px;
}
#event_description{
  font-style: italic;
}
#event_date{
  font-size: small;
}
#event_home .tab-pane{
  height: 200px;
  overflow-y: scroll;
}
#trans_tab .tab-pane{
  height: 300px;
  overflow-y: scroll;
}
#photos_home img{
  width: 140px
}
#facts {
    height: 300px;
  overflow-y: scroll;
}
#facts .row .col-lg-12 #fact_title {
  margin-bottom: 0px;
  font-weight: bold;
font-size: medium;
margin-left: 20px;
 background-color: antiquewhite;
 border-radius: 10px;

}
.rating_star {
  background: url('star-off.png') 0 0;
  width: 16px;
  height: 16px;
  display: block;
  float:left;

}
.rating_star_active {
  background: url('star-off.png') 0 0;
  width: 16px;
  height: 16px;
  display: block;
  float:left;
  cursor: pointer;
}

.rating_star_event {
  background: url('star-off.png') 0 0;
  width: 16px;
  height: 16px;
  display: block;
  float:left;

}

.rating_star_event_active {
  background: url('star-off.png') 0 0;
  width: 16px;
  height: 16px;
  display: block;
  float:left;
  cursor: pointer;
}


.on {
  background: url('star-on.png') 0 0;
}

.dest {
  margin-top: 25px;

}
img.traditions{
  width: 100%;
}
img.events{
   width: 100%;
}
.title_ {
  margin-left: 20px;
}
.event_description {
  margin-top: 20px;
}
