<!DOCTYPE html>
<html>
	<head>
		<meta name ="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home Romania</title>
		<link rel="stylesheet" href="assets/bootstrap.css"  />
		<link rel="stylesheet" href="assets/mystyles.css"  />
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tag %> 

<!--		<style type="text/css">-->
<!--			body{-->
<!--						background-image:url("images/background.jpg");-->
<!--						background-repeat:no-repeat;-->
<!--						background-attachment:fixed;-->
<!--					}-->
<!--		</style>-->
	</head>
	<body >

		<%= yield %>



		<script src="assets/bootstrap.js" type="text/javascript"></script>
		<script src="assets/myscrypt.js" type="text/javascript"></script>
		<script src="assets/myscript.js" type="text/javascript"></script>
		<script src="assets/replace.js.erb" type="text/javascript"></script>
	</body><!--home-->
</html>